#calculator {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    height: fit-content;
    border-radius: 0.5rem;

    @include respondTo(sm) {
        grid-template-columns: repeat(4, 100px);
    }
    
    #output {
        grid-column: 1 / -1;
        background-color: rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        padding: 1rem;
        word-wrap: break-word;
        word-break: break-all;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        #previousOperand {
            color: rgba(255, 255, 255, 0.75);
        }

        #currentOperand {
            color: white;
            font-size: 2rem;
        }
    }

    #btnContainer {
        display: grid;
        grid-template-columns: repeat(4, 70px);

        @include respondTo(sm) {
            grid-template-columns: repeat(4, 100px);
        }
        
        button {
            font-size: 1.5rem;
            height: 100px;
            outline: none;
            background-color: rgba(255, 255, 255, 0.85);
            font-family:"Century Gothic";
            
            @include respondTo(md) {
                cursor: pointer;
                
                &:hover {
                    background-color: rgba(255, 255, 255, 0.6);
                }
            }

            &.borderLeft {
                border-bottom-left-radius: 0.5rem;
            }

            &.borderRight {
                border-bottom-right-radius: 0.5rem;
            }

            &.twoCol {
                grid-column: span 2;
            }
        }
    }
}