html {
    overflow-x: hidden;

    body {
        overflow: hidden;
        font-family: 'Poppins', sans-serif;
        min-height: 100dvh;
        background: linear-gradient(to top, #333, #ffa149);
        position: relative;
        
        @include respondTo(md) {
            background: linear-gradient(to right, #333, #ffa149);
        }
    }
}