html {
    overflow-x: hidden;

    body {
        overflow: hidden;
        font-family: 'Poppins', sans-serif;
        min-height: 100dvh;
        background: linear-gradient(to top, #333, #fd7a00);
        position: relative;
            
        @include respondTo(md) {
            background: linear-gradient(to right, #333, #fd7a00);
        }

        @media (max-width: 768px) {
            padding: 2rem 0;
            padding-top: 0;
        }
    }
}